

body {

    /*background-color: rgb(252, 186, 162);*/
    background-image: url("intro1.jpg");

}
#navactive{
    background-color: black;
}
#nav{
    background-color: black;
    /* font-size: 5em; */
}

.nav-item{
    background-color: rgb(0, 0, 0);
}

.backphoto{
    /* opacity: 20%; */
    background-size: cover;
    max-width: 100%;
}


.title{

    margin: auto;
    text-shadow: 0 0 3px #ff9900, 0 0 5px #0000FF;      
    padding-top: .5em;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;      
    text-align: center;
}

.pointer {cursor: pointer;}

.table-body {
    display: none;
    /* background-color:gold; */
}


.table-borderless{
    font-size: 1.5em;
    padding-right: 5em;
    
}
.subTitle{
    text-align: left;
}
table{
    border-spacing: .2em;
   
}
td{
    padding-right: 3em;
}

.bg-success {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
  }

  .bodyColor{
    font-family: 'Yuji Boku', serif;      
    font-size: 1.5em;
  }

